html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: darkslategray;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.double-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__home {
    font-size: 2.5rem;
    color: darkslategray;
  }
}

.users {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user {
  text-align: center;
  margin-bottom: 3rem;

  &__button {
    text-decoration: none;
    background-color: darkslategray;
    color: white;
    padding: 1rem 2rem;
    width: 100%;
  }
}

.controls {
  width: 100%;

  &__publications {
    width: 90%;
    font: inherit;
    background-color: darkslategray;
    border: 0;
    color: white;
    padding: 1rem 2rem;
    display: block;
    margin: 2rem auto;
    cursor: pointer;
  }
}

.user-details {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  align-items: start;

  &__img {
    width: 30%;
    max-width: 18rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 65%;
  }

  &__item {
    padding: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  &__item span {
    font-weight: 700;
  }
}

.post {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  align-items: start;
  margin-bottom: 2rem;

  &__img {
    width: 20%;
    max-width: 18rem;
  }

  &__body {
    width: 75%;
    margin: 0;
  }
}

.by-five {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.by-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.publications {
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    text-align: center;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  &__button {
    text-decoration: none;
    background-color: darkslategray;
    color: white;
    padding: 1rem 2rem;
  }

  &__img {
    width: 10rem;
    margin: 0 auto;
  }
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;

  &__img {
    width: 2rem;
    border-radius: 50%;
  }

  &__name {
    color: darkslategray;
    margin: 0;
    padding: 1rem;
    // font-size: 1.25rem;
    text-decoration: none;
  }
}

.comments {
  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__name {
    margin: 0;
  }
}

@media (max-width: 65rem) {
  .by-five {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .by-four {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 55rem) {
  .by-five {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .by-four {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 45rem) {
  .double-col {
    grid-template-columns: 1fr;
  }
  .user-details {
    &__img {
      width: 100%;
    }
    &__list {
      width: 100%;
      margin-top: 2rem;
    }
  }

  .by-five {
    grid-template-columns: 1fr 1fr;
  }

  .by-four {
    grid-template-columns: 1fr;
  }

  .post {
    &__img {
      width: 100%;
    }

    &__body {
      width: 100%;
      margin-top: 2rem;
    }
  }
}
